*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --border-color: rgb(150, 150, 200);
    --first-color: #32E647;
    --second-color: #513DE3;
    --third-color: #B9C9BB;
    --text-color: #fff;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--first-color);
}

.title{
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

.formSpese{
    display: flex;
    justify-content: space-around;
    height: 2em;
}

/* select */
#categoryGroup {
    font-size: 1em;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: var(--third-color);
    border-radius: 20px;
    width: 100%;
    color: var(--text-color);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    appearance: none; /* Rimuove l'aspetto predefinito della freccia */
    -webkit-appearance: none; /* Compatibilità con WebKit */
    -moz-appearance: none; /* Compatibilità con Firefox */
    cursor: pointer;
}

#categoryGroup:focus {
    border-color: var(--border-color);
    box-shadow: 0 0 10px rgba(150, 150, 200, 0.5);
}

/* input */

.inputGroup {
    max-width: 190px;
    position: relative;
    color: var(--text-color);
}
  
.inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: var(--third-color);
    border-radius: 20px;
    width: 100%;
    color: var(--text-color);
}
  
.inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    /* color: ; */
}

.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: var(--third-color);
}
  
.inputGroup :is(input:focus, input:valid) {
    border-color: var(--border-color);    
}


/* Bottone */

#myBtn{
    border-radius: 20px;
    background-color: var(--second-color);
    color: var(--text-color);
}